body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

button {
  background: #3949ab ;
  border: none;
  padding: 0.6rem 1rem;
  color: #ffffff;
  font: inherit ;
  border-radius: 3px;
  outline: none;
}
